<!DOCTYPE html>
<html>
<head>
  <title>Transaction Failed!</title>
  <link rel="stylesheet" href="css/cancel.css">
</head>
<body>
  <div class="container">
    <h1>Transaction Failed!</h1>
    <img class="success-image" src="images/cancel.png" alt="Success">
    <div class = "homebtn">
    <button type="submit" class="homebutton btn btn-dark">  <a href="/home" class="back">Go back to Home Page</a> </button>
</div>
  </div>
</body>
</html>