<!DOCTYPE html>
<html>
<head>
  <title>Transaction Successful!</title>
  <link rel="stylesheet" href="css/success.css">
</head>
<body>
  <div class="container">
    <h1>Transaction Successful!</h1>
    <img class="success-image" src="images/checked.png" alt="Success">
    <p class="message">Thank you for your payment!</p>
    <div class = "homebtn">
    <a href="/home" class="back"> <button type="submit" class="homebutton btn btn-dark">  Go back to Home Page</button></a>
</div>
  </div>
</body>
</html>
