body {
    margin: 0px;
    padding: 0px;
    background-image: url("../images/slidepicture\(4\).jpg");
    background-size: cover;
}

#logo {
    font-family: "Sofia", sans-serif;
    font-size: 124px;
}

#logolink {
    color: white;
    text-decoration: none;
}

.logo {
    width: 174px;
    display: flex;
    align-items: center;
}

#logopic {
    margin: auto;
}

.signup {
    display: flex;
    justify-content: space-around;
    margin-top: 12%;
}

.form {
    height: 18rem;
    background-color: rgb(245, 245, 245);
    text-align: center;
    width: 450px;
    border-radius: 10px;
}

.input {
    margin: 10px 4px;
    width: 200px;
    height: 25px;
}

.inputform {
    margin-bottom: 50px;
    display: grid;

}

.inputBlocks {
    display: inline;
}

.inputBullet {
    display: inline-block;
    width: 150px;
    margin-left: 107px;
}

button {
    margin: auto 10px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

#loginbtn {
    width: 200px;
    margin-top: 10px;
}

#loginbtn:hover {
    background-color: rgb(199, 193, 193);
}
