.login {
    display: flex;
}

#profilesetup {
    padding-left: 20px;
}

#cartsetup {
    left: 1100px;
}

.cartimage {
    width: 40px;
}

.cartbtn1 {
    height: 40px;
    width: 60px;
    background-color: black;
    color: white;
    border: none;
    padding-left: 0px;
    padding-top: 5px;
}

.cart:hover {
    text-decoration: none;
}

.cart:active {
    text-decoration: none;
}

.cart:visited {
    text-decoration: none;
}

.cart:link {
    text-decoration: none;
}

.cartbtn1:hover {
    color: rgb(189, 189, 192);
}

#searchbtn:hover {
    background-color: rgb(216, 219, 219);
}

.icons {
    text-align: center;
}

.sociallogos {
    margin: 0.5%;
}

#sellerbtn{
    width: 123px;
    margin-left: 50px;
    padding: 4px;
    background-color: rgb(88, 84, 84);
    border: 2px solid white;
    border-radius: 12px;
    height: 37px;
}