.login {
    width: 20%;
    display: flex;
    height: 2em;
    margin-right: -5rem;
}

.cartimage {
    width: 26px;
}
.cart{
    display: flex;
    justify-content: space-around;
}
.cartbtn1 {
    height: 40px;
    width: 60px;
    background-color: black;
    color: white;
    border: none;
    margin: 4px 0px;
}

.cart:hover {
    text-decoration: none;
}

.cart:active {
    text-decoration: none;
}

.cart:visited {
    text-decoration: none;
}

.cart:link {
    text-decoration: none;
}

.cartbtn1:hover {
    color: rgb(189, 189, 192);
}

#searchbtn:hover {
    background-color: rgb(216, 219, 219);
}

.icons {
    text-align: center;
}

.sociallogos {
    margin: 0.5%;
}

#sellerbtn{
        margin: 4px 1vw;
    width: 73px;
}