.form-group{
    width: 500px;
}
.flex{
    display: flex;
    justify-content: center;
}
.name{
    margin: 10px;
}
.word{
    padding-bottom: 10px;
}
.my-10{

    margin-top: 30px;
}
.adress{
    justify-content: center;
    margin-left: 155px;
    margin-right: 155px;
}
.heading{
    margin-top: 10px;
    text-align: center;
}
.adress3{
    padding: 8px;
    width: 333px;
    margin: 5px;
}
.adress2{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1020px;
    position: relative;
    right: 14px;
}
.street-line-adress{
    margin-bottom: 0px;
    margin-top: 17px;
}
.form-group1{
    width: 500px;
    position: relative;
    left: 155px;
}
.details{
    width: 1018px;
    position: relative;
    left: 9px;
}
.button{
    margin: 20px;
    justify-content: center;
    text-align: center;
}